button
  display inline-block
  padding 8px 10px
  border none
  border-radius 4px
  color #eee
  font-weight bold
  background-color transparent
  font-size 13px
  cursor pointer

  &:hover
    color #2a3643
    background-color #eee

button.bordered
  border 1px solid $borderColor
