.page
  position relative

.page-container
  padding-top 74px

.page, .page-container
  height 100%

.page-header
  font-size 42px
  line-height 1.5
  margin 20px 0
  font-weight bold
  border-bottom 1px solid #3c4f63
